@font-face {
  font-family: 'chicagoflfregular';
  src: url("../fonts/chicagoflf-webfont.woff2") format("woff2"), url("../fonts/chicagoflf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #111;
  color: #eee;
  font-family: "Cairo", "Helvetica", sans-serif;
  overflow: hidden; }

h1 {
  background-image: url("../images/stranger-memory.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  margin: 20px auto 0;
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
  width: 300px; }

h2 {
  font-size: .9rem;
  font-family: "Cairo", "Helvetica", sans-serif;
  font-weight: 300; }

h3 {
  font-size: 1rem;
  font-weight: normal; }

button {
  font-family: "chicagoflfregular", "Cairo", "Helvetica", sans-serif;
  font-weight: normal;
  background-color: #eee;
  border: 0;
  border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.8em;
  padding: 6px 18px; }
  button:hover {
    cursor: pointer; }

.panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #222;
  bottom: 0;
  left: -480px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  -o-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
  width: 500px;
  z-index: 1; }
  .panel.in {
    left: 0; }
  .panel .trigger {
    background-color: #222;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ccc;
    height: 40px;
    right: -40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 20px;
    width: 40px; }
    .panel .trigger i {
      display: block;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      width: 40px; }
  .panel.panel-music {
    position: fixed; }
    .panel.panel-music h2 {
      font-size: 1.8em;
      line-height: 1.2em;
      margin: 40px auto 50px;
      text-align: center;
      width: 80%; }
    .panel.panel-music iframe {
      height: 100%;
      width: 100%; }

.alert {
  background-color: #444;
  border-radius: 8px;
  font-family: "Cairo", "Helvetica", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0 auto;
  max-width: 350px;
  padding: 25px 30px;
  width: auto; }

.sm-board {
  margin: 20px auto 200px;
  position: relative;
  width: 80%; }
  .sm-board .sm-utility {
    margin: 0 auto 20px; }
    .sm-board .sm-utility:after {
      clear: both;
      content: "";
      display: table; }
    .sm-board .sm-utility .sm-utility__meta {
      background-color: #555;
      border-radius: 1px;
      font-family: "Cairo", "Helvetica", sans-serif;
      font-weight: 300;
      display: block;
      float: left;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 1.8em;
      margin: 0;
      padding: 6px 18px;
      text-align: center;
      text-transform: uppercase; }
      .sm-board .sm-utility .sm-utility__meta + .sm-utility__meta {
        margin-left: 1px; }
    .sm-board .sm-utility .sm-utility__button {
      display: block;
      float: right; }
  .sm-board .sm-start-screen {
    background: #333;
    border-radius: 3px;
    margin: 0 auto;
    padding: 20px 30px 40px;
    text-align: center;
    width: 300px; }
    .sm-board .sm-start-screen h2 {
      font-size: 1.5rem;
      margin: 0 0 10px; }
    .sm-board .sm-start-screen ul {
      background-color: #151515;
      border-radius: 3px;
      list-style: none;
      margin: 0;
      padding: 0; }
      .sm-board .sm-start-screen ul li[data-level] {
        font-family: "chicagoflfregular", "Cairo", "Helvetica", sans-serif;
        font-weight: normal;
        font-size: 1.8rem;
        padding: 14px 5px; }
        .sm-board .sm-start-screen ul li[data-level]:hover {
          background-color: #111;
          color: #c52424;
          cursor: pointer; }
        .sm-board .sm-start-screen ul li[data-level] + li {
          border-top: 1px solid #333; }

.tiles {
  background-color: #333;
  border-radius: 2px;
  box-sizing: border-box;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .tiles:after {
    clear: both;
    content: "";
    display: table; }
  .tiles .tile {
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 70px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    width: 70px; }
    .tiles .tile:before {
      background-color: #fff;
      content: "";
      display: block;
      height: 100%;
      opacity: 1;
      position: absolute;
      -webkit-transition: opacity ease-out 300ms;
      -moz-transition: opacity ease-out 300ms;
      -o-transition: opacity ease-out 300ms;
      transition: opacity ease-out 300ms;
      width: 100%;
      z-index: 1; }
    .tiles .tile:after {
      clear: both;
      content: "";
      display: table; }
    .tiles .tile:hover {
      cursor: pointer; }
    .tiles .tile.flipped {
      border: 1px solid #c52424;
      -moz-box-shadow: 0 0 10px #c52424;
      -webkit-box-shadow: 0 0 10px #c52424;
      box-shadow: 0 0 10px #c52424; }
      .tiles .tile.flipped:before {
        opacity: 0; }
    .tiles .tile img {
      -moz-box-shadow: 0 0 10px #000000;
      -webkit-box-shadow: 0 0 10px #000000;
      box-shadow: 0 0 10px #000000;
      display: block;
      height: 100%;
      max-width: 100%;
      width: 100%; }

.sm-cube-wrap {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 800px;
  perspective-origin: 50% 200px; }
  .sm-cube-wrap .sm-cube {
    position: relative;
    margin: 100px auto;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    transition: transform 2s linear;
    transform-style: preserve-3d; }
    .sm-cube-wrap .sm-cube .cube__face {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px;
      position: absolute;
      background-color: rgba(50, 50, 50, 0.7);
      border-radius: 3px; }
      .sm-cube-wrap .sm-cube .cube__face .inside {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        width: 100%; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--1 .tiles .tile:before {
        background-color: #c52424; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--2 .tiles .tile:before {
        background-color: #478e46; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--3 .tiles .tile:before {
        background-color: #4770bb; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--4 .tiles .tile:before {
        background-color: #de8342; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--5 .tiles .tile:before {
        background-color: #f1d15e; }
      .sm-cube-wrap .sm-cube .cube__face.cube__face--6 .tiles .tile:before {
        background-color: #fff; }

.sm-level-1 .sm-cube-wrap .sm-cube {
  height: 200px;
  width: 200px; }
  .sm-level-1 .sm-cube-wrap .sm-cube .cube__face {
    height: 200px;
    width: 200px; }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--1 {
      -webkit-transform: rotateX(90deg) translateZ(100px);
      -moz-transform: rotateX(90deg) translateZ(100px);
      transform: rotateX(90deg) translateZ(100px); }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--2 {
      -webkit-transform: translateZ(100px);
      -moz-transform: translateZ(100px);
      transform: translateZ(100px); }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--3 {
      -webkit-transform: rotateY(90deg) translateZ(100px);
      -moz-transform: rotateY(90deg) translateZ(100px);
      transform: rotateY(90deg) translateZ(100px); }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--4 {
      -webkit-transform: rotateY(180deg) translateZ(100px);
      -moz-transform: rotateY(180deg) translateZ(100px);
      transform: rotateY(180deg) translateZ(100px); }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--5 {
      -webkit-transform: rotateY(-90deg) translateZ(100px);
      -moz-transform: rotateY(-90deg) translateZ(100px);
      transform: rotateY(-90deg) translateZ(100px); }
    .sm-level-1 .sm-cube-wrap .sm-cube .cube__face.cube__face--6 {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
      transform: rotateX(-90deg) rotate(180deg) translateZ(100px); }

.sm-level-1 .tile {
  height: 70px;
  width: 70px; }

.sm-level-2 .sm-cube-wrap .sm-cube {
  height: 300px;
  width: 300px; }
  .sm-level-2 .sm-cube-wrap .sm-cube .cube__face {
    height: 300px;
    width: 300px; }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--1 {
      -webkit-transform: rotateX(90deg) translateZ(150px);
      -moz-transform: rotateX(90deg) translateZ(150px);
      transform: rotateX(90deg) translateZ(150px); }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--2 {
      -webkit-transform: translateZ(150px);
      -moz-transform: translateZ(150px);
      transform: translateZ(150px); }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--3 {
      -webkit-transform: rotateY(90deg) translateZ(150px);
      -moz-transform: rotateY(90deg) translateZ(150px);
      transform: rotateY(90deg) translateZ(150px); }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--4 {
      -webkit-transform: rotateY(180deg) translateZ(150px);
      -moz-transform: rotateY(180deg) translateZ(150px);
      transform: rotateY(180deg) translateZ(150px); }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--5 {
      -webkit-transform: rotateY(-90deg) translateZ(150px);
      -moz-transform: rotateY(-90deg) translateZ(150px);
      transform: rotateY(-90deg) translateZ(150px); }
    .sm-level-2 .sm-cube-wrap .sm-cube .cube__face.cube__face--6 {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
      transform: rotateX(-90deg) rotate(180deg) translateZ(150px); }

.sm-level-2 .tile {
  height: 76px;
  width: 76px; }

.sm-level-3 .sm-cube-wrap .sm-cube {
  height: 400px;
  width: 400px; }
  .sm-level-3 .sm-cube-wrap .sm-cube .cube__face {
    height: 400px;
    width: 400px; }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--1 {
      -webkit-transform: rotateX(90deg) translateZ(200px);
      -moz-transform: rotateX(90deg) translateZ(200px);
      transform: rotateX(90deg) translateZ(200px); }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--2 {
      -webkit-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
      transform: translateZ(200px); }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--3 {
      -webkit-transform: rotateY(90deg) translateZ(200px);
      -moz-transform: rotateY(90deg) translateZ(200px);
      transform: rotateY(90deg) translateZ(200px); }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--4 {
      -webkit-transform: rotateY(180deg) translateZ(200px);
      -moz-transform: rotateY(180deg) translateZ(200px);
      transform: rotateY(180deg) translateZ(200px); }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--5 {
      -webkit-transform: rotateY(-90deg) translateZ(200px);
      -moz-transform: rotateY(-90deg) translateZ(200px);
      transform: rotateY(-90deg) translateZ(200px); }
    .sm-level-3 .sm-cube-wrap .sm-cube .cube__face.cube__face--6 {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
      transform: rotateX(-90deg) rotate(180deg) translateZ(200px); }

.sm-level-3 .tile {
  height: 80px;
  width: 80px; }
