@font-face {
	font-family: 'chicagoflfregular';
	src: url('../fonts/chicagoflf-webfont.woff2') format('woff2'),
		 url('../fonts/chicagoflf-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$sans: "Cairo", "Helvetica", sans-serif;

@mixin cairo {
	font-family: $sans;
	font-weight: 300;
}

@mixin cairo-black {
	font-family: $sans;
	font-weight: 900;
}

@mixin chicago {
	font-family: 'chicagoflfregular', $sans;
	font-weight: normal;
}

@mixin clear {
	clear: both;
	content: "";
	display: table;
}

body {
	background-color: #222;
	color: #eee;
	font-family: $sans;
}

h1 {
	background-image: url('../images/stranger-memory.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
	margin: 20px auto 0;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
	width: 300px;
}

h2 {
	font-size: .9rem;
	@include cairo;
}

h3 {
	font-size: 1rem;
	font-weight: normal;
}

button {
	@include chicago;
	background-color: #eee;
	border: 0;
	border-radius: 4px;
	font-size: 1.2rem;
	padding: .5rem .75rem;
}

/*
.panel {
	height: 100%;
	float: left;
	width: 400px;
}
*/

.alert {
	background-color: #444;
	border-radius: 8px;
	@include cairo;
	line-height: 1.5rem;
	margin: 0 auto;
	max-width: 350px;
	padding: 25px 30px;
	width: auto;
}

.board {
	margin: 20px auto 200px;
	position: relative;
	width: 500px;

	.utility {
		margin: 0 auto 20px;
		width: 80%;

		&:after { @include clear; }

		.utility__heading {
			@include cairo;
			display: block;
			float: left;
			font-size: 1.2rem;

			.utility__heading--digit {

			}
		}

		.utility__button {
			display: block;
			float: right;

			&.utility__button--reset {

			}
			&.utility__button--music {

			}
		}
	}

	.tiles {
		background-color: #333;
		border-radius: 2px;
		box-sizing: border-box;
		list-style: none;
		margin: 0 auto;
		padding: 50px 55px;
		width: 100%;

		&:after { @include clear; }

		.tile {
			display: block;
			float: left;
			height: 80px;
			margin: 2%;
			width: 80px;

			&:after { @include clear; }

			&:hover {
				cursor: pointer;
			}
		}

		.tile {
			perspective: 1000px;
		}

		.tile:hover .tile-faces {
			transform: rotateY(180deg);
		}

		.tile-face.--front .tile-cover {
			background-color: #eee;
			border-radius: 2px;
			-moz-box-shadow:    0 0 10px #000000;
			-webkit-box-shadow: 0 0 10px #000000;
			box-shadow:         0 0 10px #000000;
			height: 80px;
			width: 80px;
		}

		.tile-container,
		.tile-face.--front,
		.tile-face.--back {
			width: 80px;
			height: 80px;
		}

		.tile-faces {
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;
		}

		.tile-face.--front,
		.tile-face.--back {
			backface-visibility: hidden;
			left: 0;
			position: absolute;
			top: 0;
		}

		.tile-face.--front {
			z-index: 2;
			transform: rotateY(0deg); // for firefox 31
		}

		.tile-face.--back {
			transform: rotateY(180deg);

			img {
				border-radius: 2px;
				-moz-box-shadow:    0 0 10px #000000;
				-webkit-box-shadow: 0 0 10px #000000;
				box-shadow:         0 0 10px #000000;
				display: block;
				height: 80px;
				max-width: 100%;
				widows: 80px;
			}
		}
	}
}
